@import "../../css/scss/partials/functions";

chat {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(#fff, 1.0);
  border-left: 1px solid #ccc;

  // Important, gets rid of flicker for drop shadow
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;

  textarea.materialize-textarea {
    border-bottom: none;
  }

  .message-box {
    width:100%;
    padding: 0.5em 1.5em;
    display: block;
    position: relative;

    .message {
      position: relative;
      display: block;
      padding: 0.5em 0em;
      font-size: 1em;
      line-height: 22px;
      font-weight: 300;

      .avatar {
        position: relative;
        display: inline-block;
        vertical-align: -12px;
        height: 18px;
        width: 18px;
        z-index: 1;
        border-radius: 1px;
        overflow: hidden;
        opacity: 0.9;
        margin: 0;
        line-height: 0;
      }

      .text {
        position: relative;
        vertical-align: text-bottom;
        z-index: 2;
        line-height: 0;
        font-size: 0.9em;
        font-weight: 400;
      }

      .date {
        font-size: 0.8em;
        font-style: italic;
        font-weight: 500;
        padding-right: 1em;
        vertical-align: text-bottom;
        line-height: 0;
      }

      .username {
        position: relative;
        font-weight: 500;
        vertical-align: text-bottom;
        z-index: 2;
        line-height: 0;
      }

      .emoticon {
        height: 22px;
        width: 22px;
        vertical-align: text-bottom;
        margin-top: -4px;
      }

      .ne-emoticon {
        vertical-align: text-bottom;
        margin-top: -3px;
      }
    }

    .more-content {
      position: absolute;
      bottom: 1em;
      left: 1em;
      right: 1em;
      padding: 1em;

      background: rgba(0,0,0,0.7);
      color: #fff;
    }
  }

  .send-message {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    margin: 0;

    .input-field {
      margin: 0 !important;
      padding: 0 !important;
    }

    .btn-floating {
      position: absolute;
      right: 10px;
      top: 13px;
      opacity: 1;
      
      width: 42px;
      height: 42px;

      i {
        line-height: 42px;
        font-size: 1.6em;
      }

      box-shadow:none !important;

      &:hover {
        opacity: 0.5;
      }
    }

    textarea {
      display: block;
      margin: 0 !important;
      padding: 11px !important;
      width: calc(100% - 26px);
    }
  }

  .bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }

  /* Scroll down indicator (bouncing) */
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0); }
    40% {
      -webkit-transform: translateY(-30px); }
    60% {
      -webkit-transform: translateY(-15px); } }
  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0); }
    40% {
      -moz-transform: translateY(-30px); }
    60% {
      -moz-transform: translateY(-15px); } }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); }
    40% {
      -webkit-transform: translateY(-30px);
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -o-transform: translateY(-30px);
      transform: translateY(-30px); }
    60% {
      -webkit-transform: translateY(-15px);
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -o-transform: translateY(-15px);
      transform: translateY(-15px); } }
}