@import "../../css/scss/partials/functions";

crud-player {
  display:block;
  position: relative;
  width: 100%;
  min-height: 400px;
  z-index: 100;
  
  .crud-player {
    position: relative;
    z-index: 100;
    width: auto;
    display: inline-block;
    @include materialBounce(box-shadow, 2500ms);
  }
}