@import "../../css/scss/partials/functions";

.padding-video-top {
  padding: 3em;
}

.stream-container {
  width: auto;
  display:block;
  margin: 0px;
  position: relative;
  padding-right: 420px;
  padding-left: 30px;

  z-index: 100;

  @media #{$retna-and-up} {
    font-size: 75%;
  }

  @media #{$large-and-down} {
    padding-right: 330px;
    padding-left: 10px;
  }

  @media #{$small-and-down} {
    padding-right: 20px;
    padding-left: 0px;
  }

  .partner-logo {
    position: absolute;
    z-index: 1000;
    right: -18px;
    top: -18px;

    img {
      width: 50px !important;
      height: auto;

      opacity: 1;
    }
  }

  .view-count {
    display: inline-block;
    padding-right: 1em;
    margin-top: 0.6em;

    i {
      margin-top: -3px;
      vertical-align: middle;
    }
  }

  .player-area{
    position: relative;
    z-index: 1;
  }

  .player-area::after {
    background: #f1f1ff;
    position: fixed;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    border-top: 1px solid #999;

    @media #{$large-and-down} {
      
    }
  }

  .icon-area {
    width: 120px;
    display: inline-block;

    @media #{$retna-and-up} {
      width: 180px;
    }
  }

  .title-area {
    width: calc(100% - 144px);
    display: inline-block;

    @media #{$small-and-down} {
      width: calc(100%);
    }

    @media #{$retna-and-up} {
      width: calc(100% - 188px);
    }

    .seperator {
      width: 100%;
    }
  }
  
  .lower-area {
    padding-top: 2em;
    //padding-left: 1em;
    //margin-left: 0 !important;
    z-index: 1;
    position: relative;
    display: block;
  }
}

.chat-container {
  position: fixed;
  width: auto;
  display:block;

  z-index: 100;
  top:0;
  right:0;
  bottom:0;
  width: 390px;

  @media #{$large-and-down} {
    width: 300px;
  }

  @media #{$small-and-down} {
    display:none;
  }
}

.stream-icon {
  //border-radius: 50%;
  position: relative;
  //overflow: hidden;

  width: 110px;
  height: 110px;

  background-position: center center;
  background-size: cover;

  @media #{$retna-and-up} {
   width: 160px;
   height: 160px;
  }
}

.player-area {
  position: relative;
  margin: 2% 0;
  margin-bottom: 10px;
  padding: 0;
}

.stream-info {
  .username {
    font-size: 1.05em;
    font-weight: 500;
    //font-style: italic;
  }
  .game {
    font-size: 1.05em;
    font-weight: 400;
    font-style: italic;
  }
}