stream-menu {
  display: block;
  position: absolute;
  top:0;
  right: 2em;

  .dropdown-content {
    min-width: 160px;

    .material-icons {
      vertical-align: middle;
    }
  }

  .view-count {
    display: inline-block;
    vertical-align: middle;
    padding-right: 1em;
    margin-top: 0.6em;

    i {
      margin-top: -3px;
      vertical-align: middle;
    }
  }
}

.stream-menu-container {
  position: relative;
}