@import "../../css/scss/partials/functions";

stream-menu {
  display: block;
  position: absolute;
  top:0;
  right: 0em;

  .dropdown-content {
    min-width: 160px;

    .material-icons {
      vertical-align: middle;
    }
  }

  .view-count {
    display: inline-block;
    vertical-align: middle;
    padding-right: 1em;
    margin-top: 0.6em;

    i {
      margin-top: -3px;
      vertical-align: middle;
    }
  }

  action-button .live-alert {
    font-size: 90%;
    margin-right: 2em;
    margin-top: 0.5em;
    vertical-align: middle;
  }

  .switch {
    display: inline-block;
    vertical-align: middle;

    //margin-top: 0.5em;
    //padding: 1em;

    @media #{$small-and-down} {
      padding-bottom: 1.2em;
    }
    

    label {
      color: #444;
      
      .lever:after {
        background: #1976D2;
      }

      input[type=checkbox]:checked + .lever {
        background: #FF8A65;

        &:after {
          background: #E64A19;
        }
      }
    }
  }
}

.stream-menu-container {
  position: relative;
}