*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
bower_components
client/src/vendor
client/src/css/**/*.css
client/src/reload
client/dist
.vscode/
.vscode/launch.json
datasources.local.*
datasources.development.*