<div class="anim-slide-below-fade">
  <div class="row" ng-if="vm.tempList">
    <div class="col s12 m4 offset-m4" ng-if="!vm.noneLive">
      <div class="select" input-field>
        <select 
          ng-model="vm.list" 
          material-select 
          multiple 
          watch
          ng-options="stream.channel.username for stream in vm.liveList(vm.streamList)"
          ng-if="!stream.channel.private"
        >
          <option disabled>Select Channels</option>
        </select>
      </div>
    </div>
    <div class="col s12 m4 offset-m4" ng-if="vm.noneLive">
      <div class="card-panel primary-action center-align">
        <span class="flow-text">
          No Streams Online<br/>
        </span>
        <span>
          Automatically Refreshing
        </span>
      </div>
    </div>
  </div>
  <div class="row" ng-if="!vm.tempList">
    <div class="col s4 offset-s4">
      <div class="card-panel primary-action center-align">
        <span class="flow-text">
          Loading
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s6" ng-repeat="stream in vm.list">
      <team-view
        stream="stream"
        selected-player="vm.selectedPlayer">
      </team-view>
    </div>
  </div>
</div>