@import "../../css/scss/partials/colors";
@import "../../css/scss/partials/functions";

top-bar {
  display: block;
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  z-index: 1000;
  width: 100px;

  @media #{$large-and-down} {
    width: 80px;
  }

  nav {
    height: auto;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    width: auto;
  }

  .nav-wrapper {
    position: relative;
  }

  li {
    width: 100%;
    text-align: center;

    a {
      color: #fff;
      padding: 0;

      i {
        padding-top: 0.2em;
        padding-bottom:0;
        margin-bottom: -1em;

        @media #{$retna-and-up} {
          margin-bottom: -0.25em;
        }
      }

      span {
        font-size: 0.7em;
      }
      
    }

    &.active {
      background: $primary-color-action !important;
    }
  }

  nav {
    box-shadow: none;
  }
}