@import "../../css/scss/partials/colors";

top-bar {
  display: block;
  position: absolute;
  top:0;
  left:0;
  right:0;
  z-index: 1000;

  .nav-wrapper {
    position: relative;
  }

  li {
    a {
      color: #fff;
    }

    &.active {
      background: $primary-color-action !important;
    }
  }

  nav {
    box-shadow: none;
  }
}