@import "../../css/scss/partials/functions";
@import "../../css/scss/partials/colors";

user-fab {
  position: fixed;
  display: block;
  z-index: 1002;
  bottom: 5em;
  left: 5em;

  @media #{$large-and-down} {
    left: 65px;
  }

  @media #{$small-and-down} {
    left: 60px;
  }

  @media #{$retna-and-up} {
    left: 75px;
    bottom: 4em;
  }

 .user-fab-container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1001;

    @media #{$small-and-down} {
      
    }
  }

  .dropdown-button.btn-floating {
    width: 50px;
    height: 50px;
    line-height: 40px;

    background-position: center;
    background-size: cover;
    //background-color: transparent;
    box-shadow: none;

    @media #{$small-and-down} {
      width: 40px;
      height: 40px;
      line-height: 34px;
    }
  }

  .dropdown-content {
    //margin-top: 60px;
    min-width: 160px;

    a{
      text-align: left;
    }
  }

  .spend-amount {
    display: none;

    @media #{$medium-and-down} {
      display:none;
    }
  }
}



