@import "partials/functions";
@import "partials/colors";
@import "partials/typography";
@import "partials/animations";
@import "partials/dialogs";
@import "partials/grid";
@import "partials/buttons";
@import "partials/forms";
@import "partials/icons";

body {
  background-color: #8681e4;
}

html {
  @media #{$retna-and-up} {
    font-size: 140%;
  }
}

.noise {
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  width: 100%;
  height: 100%;
  background: url('../images/noise.png');
  z-index: 1;
}

[ng-click] {
  cursor: pointer;
}

a {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.material-bounce {
  @include materialBounce();
}

.root-loader{
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 2000;

  .progress {
    margin-top: 0;
  }
}

hr:not(.swal2-spacer) {
  border:none;
  outline:none;
  height:1px;
  background: #ccc;
}

ui-view {
  display:block;
  position: relative;
}

ui-view[name="navbar"] {
  height:0;
  z-index: 2;
  display:block;
  position: absolute;
}

ui-view[name="main"] {
  padding-left: 100px;
  padding-top: 1em;
  display:block;
  position: relative;
}

.medium-logo {
  margin-top: 2em;
  max-width: 350px;
  opacity: 0.7;
  display: inline-block;
}

.big-shadow {
  box-shadow: 0 1em 8em rgba(black, 0.22);
}

.bigger-shadow {
  box-shadow: 0 1em 8em rgba(black, 0.33);
}

.dashing{
  display: inline;
}

.dashing::before, .dashing::after {
  content: "   ";
  height:1px;
  width: 0.8em;
  margin: 13px;
  background:#a69695;
  display: inline-block;
  vertical-align: middle;
}
