@import "../../css/scss/partials/functions";

.extra-padding-top {
  padding-top: 2em;

  @media #{$small-and-down} {
    padding-top: 0em;
  }
}

.extra-padding {
  padding: 3em 2em;

  margin: 8em 0;
}

.channel-container {
  @media #{$small-and-down} {
    padding-right: 20px;
  }
}