@import "../../css/scss/partials/functions";
@import "../../css/scss/partials/colors";

channel-card {
  display:block;
  position: relative;
  cursor: pointer;

  .game {
    display: block;
    font-size: 0.7em;
  }

  .material-icons {
    vertical-align: middle;
  }

  @media #{$small-and-down} {
    .card .card-content {
      padding: 1em;
    }

    img.poster.hero {
      margin: -2em 0;
    }
  }

  .viewer-count {
    vertical-align: middle;
    padding: 0.3em;
    padding-right: 0;
  }

  .card {
    box-shadow: none;
     
    .card-image .card-title {
      width: 100%;
      font-size: 1.2em;
      padding-bottom: 2em;
      background: linear-gradient(to bottom, rgba(#000,1) 0%,rgba(#444,0.5) 33%, rgba(#fff,0.0) 100%);

      font-weight: 400;
      top:0;
    }
  }
}