<div class="container">
  <div class="row">
    <div class="col s12">
      <h5>Live Streams</h5>
    </div>
    <channel-card
      class="col s12 m6 l6"
      ng-repeat="stream in vm.liveList(vm.streamList)"
      stream="stream"
    >
    </channel-card>
    <div ng-if="vm.noneLive" class="col s12">
      <div class="col s12 m6 offset-m3 l4 offset-l4">
        <div class="card-panel teal white-text center-align">
          <span class="flow-text">
            No Streams Online<br/>
          </span>
          <span>
            Automatically Refreshing
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <h5>Offline Streams</h5>
    </div>
    <channel-card
      class="col s12 m6 l4"
      ng-repeat="stream in vm.liveList(vm.streamList, true)"
      stream="stream"
    >
    </channel-card>
  </div>
</div>