<div class="container anim-slide-below-fade extra-padding-top">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card big-shadow">
        <div class="card-tabs">
          <ul tabs class="tabs tabs-fixed-width">
            <li class="tab"><a class="active" href="#obs">Streaming Setup</a></li>
            <li class="tab disabled"><a href="#audio">Audio Setup</a></li>
          </ul>
        </div>
        <div class="card-content grey lighten-4">
          <div id="obs" class="guide">
            <p>
              Open <a href="https://obsproject.com" target="_blank">OBS Studio</a>, and click on <b>Settings</b>
            </p>
            <p>
              Click on the Stream tab
            </p>
            <p>
              For <b>Stream Type</b>, select <b>Custom Streaming Server</b> from the dropdown
            </p>
            <p>
              For <b>Stream URL</b>, enter the following url:
              <p class="center-align">
                <material-input
                  class="key"
                  name="url"
                  placeholder=" "
                  ng-model="vm.liveUrl">
                </material-input>
              </p>
            </p>
            <p>
              For <b>Stream Key</b>, you must enter your current Display Name and Stream Key as follows:
              <p class="center-align">
                 <material-input
                  class="key"
                  name="key"
                  placeholder=" "
                  ng-model="vm.liveKey">
                </material-input>
              </p>
              <br/>
              <p>
                You're ready to start streaming ^.^
              </p>
            </p>
          </div>
          <div id="audio">Test 2</div>
        </div>
      </div>
    </div>
  </div>
</div>