/* colors.scss */

$background:#346689;
$highlights: #fe9900;
$secondary-highlights: #0196da;

$primary-color-action: $highlights;
$secondary-color-action: $background;
$primary-color-dark: #212121;
$primary-color-light: $secondary-highlights;
$disabled-color: #DFDFDF;

$primary-color-blue: $background;
$primary-color-purple: $secondary-highlights;
$primary-color-red: $highlights;

$primary-color-background: $background;
$primary-color-light-background: #f1f1f1;

$white-background: #e2e4e5;
