/* colors.scss */
$primary-color-action: #f8d131;
$secondary-color-action: #5f5f5f;
$primary-color-dark: #212121;
$primary-color-light: #F1F1F1;
$disabled-color: #DFDFDF;

$primary-color-blue: #30363f;
$primary-color-purple: #6f4f96;
$primary-color-red: #f12a27;

$white-background: #e2e4e5;
