/* dialogs.scss */
body.modal-open {
  overflow: hidden;
}

$blurstyle: blur(2px) grayscale(70%);

.modal-open ui-view, .modal-open trianglify, .modal-open .noise {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0,0,0);
  transform: translateZ(0);

  filter: $blurstyle;
  -webkit-filter: $blurstyle;
  -moz-filter: $blurstyle;
  -o-filter: $blurstyle;
  -ms-filter: $blurstyle;
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}
