/* dialogs.scss */
body.modal-open {
  overflow: hidden;
}

.modal-open ui-view, .modal-open trianglify, .modal-open .noise {
  filter: blur(3px) grayscale(25%);
  -webkit-filter: blur(3px) grayscale(25%);
  -moz-filter: blur(3px) grayscale(25%);
  -o-filter: blur(3px) grayscale(25%);
  -ms-filter: blur(3px) grayscale(25%);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}
