.condensed {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2.5px;
}

.condensed-header {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.primary-action {
  color: #fff !important;
  background-color: $primary-color-action !important;

  &:disabled {
    background-color: $disabled-color !important;
    color: rgba(0,0,0,0.26) !important;
    box-shadow: none;
  }
}

.primary-background {
  color: #fff !important;
  background-color: $primary-color-background !important;

  .input-field label:not(.select) {
    color: #a69695;

    &.active {
      color: #fff;
    }
  }

  input:not([type]),
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=url],
  input[type=time],
  input[type=date],
  input[type=datetime-local],
  input[type=tel],
  input[type=number],
  input[type=search],
  textarea.materialize-textarea {
    background-color: $primary-color-light-background;
    border: 2px solid $primary-color-light-background;
    border-bottom: 2px solid rgba($primary-color-action, 0.3);
    border-radius: 4px;
    height: 4em;
    padding-left:1.75em;
    width: calc(100% - 1.75em - 4px);
    margin-bottom: 2.1em;

    &:focus:not([readonly]){
      border-bottom: 2px solid #e2e2e2;
      box-shadow: none;
    }
  }
}

.primary-light-background {
  color: #333 !important;
  background-color: $primary-color-light-background !important;

  .input-field label:not(.select) {
    color: #fff;

    &.active {
      color: #333;
    }
  }

  input:not([type]),
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=url],
  input[type=time],
  input[type=date],
  input[type=datetime-local],
  input[type=tel],
  input[type=number],
  input[type=search],
  textarea.materialize-textarea {
    background-color: $primary-color-background !important;
    border: 2px solid $primary-color-background;
    border-bottom: 2px solid rgba($primary-color-action, 0.3);
    box-shadow: 0 0 0px 1000px $primary-color-background inset !important;
    color: #fff !important;
    -webkit-text-fill-color: #fff !important;

    &:focus:not([readonly]){
      border-bottom: 2px solid #e2e2e2;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: 0 0 0px 1000px $primary-color-background inset;
    color: #fff !important;
    -webkit-text-fill-color: #fff !important;
  }
}



.primary-action-text {
  color: $primary-color-action !important;
}

.secondary-action-text {
  color: $primary-color-light !important;
}

.secondary-action {
  color: #fff !important;
  background-color: $secondary-color-action !important;

  &:disabled {
    background-color: $disabled-color !important;
    color: rgba(0,0,0,0.26) !important;
  }
}

.waves-effect.waves-primary .waves-ripple {
  background-color: rgba($primary-color-action, 0.65);
}

.primary-black {
  color: #f1f1f1;
  background-color: $primary-color-dark !important;
}

.primary-blue {
  color: #f1f1f1;
  background-color: $primary-color-blue !important;
}

.primary-black-text {
  color: $primary-color-dark !important;
}

.primary-white-background {
  color: $white-background !important;
}

.waves-effect.waves-white .waves-ripple {
  background-color: rgba($white-background, 0.75);
}

.primary-white {
  background-color: $primary-color-light !important;
}

.primary-white-text {
  color: $primary-color-light !important;
}

// Header Styles
$h1-fontsize: 4.00rem !default;
$h2-fontsize: 3.20rem !default;
$h3-fontsize: 2.64rem !default;
$h4-fontsize: 2.15rem !default;
$h5-fontsize: 1.315rem !default;
$h6-fontsize: 1.125rem !default;

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Roboto', sans-serif;
}

strong {
  font-weight: 600;
}

.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a { font-weight: inherit; }
.h1, h1 { font-size: $h1-fontsize; line-height: 110%; margin: ($h1-fontsize / 2) 0 ($h1-fontsize / 2.5) 0;}
.h2, h2 { font-size: $h2-fontsize; line-height: 110%; margin: ($h2-fontsize / 2) 0 ($h2-fontsize / 2.5) 0;}
.h3, h3 { font-size: $h3-fontsize; line-height: 110%; margin: ($h3-fontsize / 2) 0 ($h3-fontsize / 2.5) 0;}
.h4, h4 { font-size: $h4-fontsize; line-height: 110%; margin: ($h4-fontsize / 2) 0 ($h4-fontsize / 2.5) 0;}
.h5, h5 { font-size: $h5-fontsize; line-height: 110%; margin: ($h5-fontsize / 2) 0 ($h5-fontsize / 2.5) 0;}
.h6, h6 { font-size: $h6-fontsize; line-height: 110%; margin: ($h6-fontsize / 2) 0 ($h6-fontsize / 2.5) 0;}

.flow-text {
  font-weight: 300;
  letter-spacing: 0;
  $i: 0;
  @while $i <= $intervals {
    @media only screen and (min-width : 360 + ($i * $interval-size)) {
      font-size: 1.05rem * (1 + (.02 * $i));
    }
    $i: $i + 1;
  }

  // Handle below 360px screen
  @media only screen and (max-width: 360px) {
    font-size: 1.05rem;
  }
}

.dropdown-content li > a, .dropdown-content li > span {
  color: $secondary-color-action;
}