div.signup-container {
  position: absolute;
  width: 100%;
  overflow: hidden;

  .card-panel {
    padding: 0 3em !important;
  }
}

.signup-form form {
  display:inline-block;
  text-align: left;
  width: 100%;

  input {
    box-shadow: 0px 2px 4px rgba(0,0,0,0.22);
  }

  .show-con {
    position: relative;
  }

  .show-pw {
    position: absolute;
    right: 1.5em;
    top: 0.8em;
    font-size: 90%;
  }

  .password-requirements {
    margin-top: -1.5em;
    font-size: 0.9em;
  }
  .spacer {
    padding: 3em;
  }
}

.signup-form {
  text-align: center;
}

.signup-wrapper {
  padding: 2em 0;
}
